Hi, my name is Sarthak Rastogi, and my email is thesarthakrastogi@gmail.com

Here's the solution for the assignment you sent. Thank you very much, it was simple but quite interesting.

# 1

In [46]:
import pandas as pd
import numpy as np

In [47]:
dem1 = pd.read_csv("DEMO_D.csv")
dem2 = pd.read_csv("DEMO_RETIRED.csv")

In [48]:
dem1.head()

,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEMN,RIDAGEEX,RIDAGEYR,RIDRETH1,DMDEDUC3,DMDEDUC2,DMDSCHOL
0,31127.0,4.0,2.0,1.0,11.0,12.0,5.397605e-79,3.0,NaN,NaN,NaN
1,31128.0,4.0,2.0,2.0,132.0,132.0,1.100000e+01,4.0,4.0,NaN,1.0
2,31129.0,4.0,2.0,1.0,189.0,190.0,1.500000e+01,4.0,10.0,NaN,1.0
3,31130.0,4.0,2.0,2.0,NaN,NaN,8.500000e+01,3.0,NaN,4.0,NaN
4,31131.0,4.0,2.0,2.0,535.0,536.0,4.400000e+01,4.0,NaN,4.0,NaN

In [49]:
dem2.head()

      SEQN  RETIRED
0  31127.0      NaN
1  31128.0      0.0
2  31129.0      0.0
3  31130.0      1.0
4  31131.0      0.0

In [50]:
dem2["RETIRED"].unique()

array([nan,  0.,  1.])

In [51]:
bp = pd.read_csv("BPX_D.csv")

In [52]:
bp.head()

      SEQN  PEASCST1  PEASCTM1  PEASCCT1  BPXCHR  BPQ150A
0  31127.0       1.0      41.0       NaN   100.0      NaN
1  31128.0       1.0     401.0       NaN     NaN      2.0
2  31129.0       1.0     664.0       NaN     NaN      1.0
3  31130.0       2.0       NaN       4.0     NaN      2.0
4  31131.0       1.0     827.0       NaN     NaN      2.0

In [53]:
chl = pd.read_csv("TCHOL_D.csv")

In [54]:
chl.head()

      SEQN  LBXTC  LBDTCSI
0  31128.0  129.0     3.34
1  31129.0  170.0     4.40
2  31130.0    NaN      NaN
3  31131.0  105.0     2.72
4  31132.0  147.0     3.80

In [55]:
#taking inner join
df = dem1.merge(bp, how="inner").merge(chl, how="inner")
df.head()

,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEMN,RIDAGEEX,RIDAGEYR,RIDRETH1,DMDEDUC3,DMDEDUC2,DMDSCHOL,PEASCST1,PEASCTM1,PEASCCT1,BPXCHR,BPQ150A,LBXTC,LBDTCSI
0,31128.0,4.0,2.0,2.0,132.0,132.0,11.0,4.0,4.0,NaN,1.0,1.0,401.0,NaN,NaN,2.0,129.0,3.34
1,31129.0,4.0,2.0,1.0,189.0,190.0,15.0,4.0,10.0,NaN,1.0,1.0,664.0,NaN,NaN,1.0,170.0,4.40
2,31130.0,4.0,2.0,2.0,NaN,NaN,85.0,3.0,NaN,4.0,NaN,2.0,NaN,4.0,NaN,2.0,NaN,NaN
3,31131.0,4.0,2.0,2.0,535.0,536.0,44.0,4.0,NaN,4.0,NaN,1.0,827.0,NaN,NaN,2.0,105.0,2.72
4,31132.0,4.0,2.0,1.0,842.0,843.0,70.0,3.0,NaN,5.0,NaN,1.0,730.0,NaN,NaN,2.0,147.0,3.80

In [56]:
len(df)

8086

In [57]:
df["SEQN"].nunique()

8086

using knn impute for missing values so that values frmo similar samples can be used

In [58]:
from sklearn.impute import KNNImputer
imputer = KNNImputer(n_neighbors=10)
df_no_missing = imputer.fit_transform(df)
df_no_missing = pd.DataFrame(df_no_missing, columns=df.columns)
df_no_missing

,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEMN,RIDAGEEX,RIDAGEYR,RIDRETH1,DMDEDUC3,DMDEDUC2,DMDSCHOL,PEASCST1,PEASCTM1,PEASCCT1,BPXCHR,BPQ150A,LBXTC,LBDTCSI
0,31128.0,4.0,2.0,2.0,132.0,132.0,11.0,4.0,4.0,2.9,1.0,1.0,401.0,43.3,85.4,2.0,129.0,3.34
1,31129.0,4.0,2.0,1.0,189.0,190.0,15.0,4.0,10.0,2.8,1.0,1.0,664.0,39.0,85.4,1.0,170.0,4.40
2,31130.0,4.0,2.0,2.0,794.8,795.5,85.0,3.0,9.1,4.0,1.4,2.0,667.6,4.0,84.4,2.0,171.7,4.44
3,31131.0,4.0,2.0,2.0,535.0,536.0,44.0,4.0,17.5,4.0,1.9,1.0,827.0,38.8,85.4,2.0,105.0,2.72
4,31132.0,4.0,2.0,1.0,842.0,843.0,70.0,3.0,18.5,5.0,1.8,1.0,730.0,44.2,84.6,2.0,147.0,3.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8081,41469.0,4.0,2.0,1.0,235.0,235.0,19.0,4.0,15.0,3.6,1.0,1.0,715.0,58.5,82.4,2.0,193.0,4.99
8082,41471.0,4.0,2.0,1.0,148.0,149.0,12.0,4.0,5.0,3.4,1.0,1.0,703.0,58.5,82.4,2.0,142.0,3.67
8083,41472.0,4.0,2.0,1.0,410.0,411.0,34.0,3.0,12.3,4.0,1.6,1.0,567.0,53.9,82.4,2.0,140.0,3.62
8084,41473.0,4.0,2.0,1.0,255.0,255.0,21.0,1.0,11.4,2.0,1.5,1.0,645.0,58.2,82.4,2.0,184.0,4.76
8085,41474.0,4.0,2.0,2.0,200.0,200.0,16.0,4.0,11.0,3.1,2.0,1.0,579.0,58.8,82.4,2.0,101.0,2.61

In [59]:
df["AGE_AT_SCREENING"] = df_no_missing["RIDAGEMN"]
df["AGE_AT_EXAM"] = df_no_missing["RIDAGEEX"]
df

,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEMN,RIDAGEEX,RIDAGEYR,RIDRETH1,DMDEDUC3,DMDEDUC2,DMDSCHOL,PEASCST1,PEASCTM1,PEASCCT1,BPXCHR,BPQ150A,LBXTC,LBDTCSI,AGE_AT_SCREENING,AGE_AT_EXAM
0,31128.0,4.0,2.0,2.0,132.0,132.0,11.0,4.0,4.0,NaN,1.0,1.0,401.0,NaN,NaN,2.0,129.0,3.34,132.0,132.0
1,31129.0,4.0,2.0,1.0,189.0,190.0,15.0,4.0,10.0,NaN,1.0,1.0,664.0,NaN,NaN,1.0,170.0,4.40,189.0,190.0
2,31130.0,4.0,2.0,2.0,NaN,NaN,85.0,3.0,NaN,4.0,NaN,2.0,NaN,4.0,NaN,2.0,NaN,NaN,794.8,795.5
3,31131.0,4.0,2.0,2.0,535.0,536.0,44.0,4.0,NaN,4.0,NaN,1.0,827.0,NaN,NaN,2.0,105.0,2.72,535.0,536.0
4,31132.0,4.0,2.0,1.0,842.0,843.0,70.0,3.0,NaN,5.0,NaN,1.0,730.0,NaN,NaN,2.0,147.0,3.80,842.0,843.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8081,41469.0,4.0,2.0,1.0,235.0,235.0,19.0,4.0,15.0,NaN,1.0,1.0,715.0,NaN,NaN,2.0,193.0,4.99,235.0,235.0
8082,41471.0,4.0,2.0,1.0,148.0,149.0,12.0,4.0,5.0,NaN,1.0,1.0,703.0,NaN,NaN,2.0,142.0,3.67,148.0,149.0
8083,41472.0,4.0,2.0,1.0,410.0,411.0,34.0,3.0,NaN,4.0,NaN,1.0,567.0,NaN,NaN,2.0,140.0,3.62,410.0,411.0
8084,41473.0,4.0,2.0,1.0,255.0,255.0,21.0,1.0,NaN,2.0,NaN,1.0,645.0,NaN,NaN,2.0,184.0,4.76,255.0,255.0
8085,41474.0,4.0,2.0,2.0,200.0,200.0,16.0,4.0,11.0,NaN,2.0,1.0,579.0,NaN,NaN,2.0,101.0,2.61,200.0,200.0

im guessing that values which are present in DMDEDUC3 are nan in DMDEDUC2 and vice verca

In [60]:
df["DMDEDUC3"][:40]

0     4.000000e+00
1     1.000000e+01
2              NaN
3              NaN
4              NaN
5     9.000000e+00
6              NaN
7     6.000000e+00
8     1.300000e+01
9     4.000000e+00
10    1.000000e+01
11    1.000000e+00
12    1.500000e+01
13             NaN
14    3.000000e+00
15    1.000000e+00
16    5.397605e-79
17    9.000000e+00
18             NaN
19             NaN
20             NaN
21             NaN
22             NaN
23             NaN
24             NaN
25             NaN
26    5.000000e+00
27             NaN
28    2.000000e+00
29             NaN
30    4.000000e+00
31             NaN
32    1.100000e+01
33             NaN
34    9.000000e+00
35             NaN
36    7.000000e+00
37    6.000000e+00
38             NaN
39    1.000000e+00
Name: DMDEDUC3, dtype: float64

In [61]:
df["DMDEDUC2"][:40]

0     NaN
1     NaN
2     4.0
3     4.0
4     5.0
5     NaN
6     3.0
7     NaN
8     NaN
9     NaN
10    NaN
11    NaN
12    NaN
13    3.0
14    NaN
15    NaN
16    NaN
17    NaN
18    2.0
19    3.0
20    3.0
21    3.0
22    3.0
23    3.0
24    5.0
25    4.0
26    NaN
27    4.0
28    NaN
29    2.0
30    NaN
31    3.0
32    NaN
33    4.0
34    NaN
35    4.0
36    NaN
37    NaN
38    2.0
39    NaN
Name: DMDEDUC2, dtype: float64

i checked manually and my hypothesis was correct. merging these two cols

In [62]:
a = df[["DMDEDUC2", "DMDEDUC3"]].replace(np.nan, 0)
a

      DMDEDUC2  DMDEDUC3
0          0.0       4.0
1          0.0      10.0
2          4.0       0.0
3          4.0       0.0
4          5.0       0.0
...        ...       ...
8081       0.0      15.0
8082       0.0       5.0
8083       4.0       0.0
8084       2.0       0.0
8085       0.0      11.0

[8086 rows x 2 columns]

In [63]:
df["DMDEDUC2_3_combination"] = a["DMDEDUC2"] + a["DMDEDUC3"]
df

,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEMN,RIDAGEEX,RIDAGEYR,RIDRETH1,DMDEDUC3,DMDEDUC2,...,PEASCST1,PEASCTM1,PEASCCT1,BPXCHR,BPQ150A,LBXTC,LBDTCSI,AGE_AT_SCREENING,AGE_AT_EXAM,DMDEDUC2_3_combination
0,31128.0,4.0,2.0,2.0,132.0,132.0,11.0,4.0,4.0,NaN,...,1.0,401.0,NaN,NaN,2.0,129.0,3.34,132.0,132.0,4.0
1,31129.0,4.0,2.0,1.0,189.0,190.0,15.0,4.0,10.0,NaN,...,1.0,664.0,NaN,NaN,1.0,170.0,4.40,189.0,190.0,10.0
2,31130.0,4.0,2.0,2.0,NaN,NaN,85.0,3.0,NaN,4.0,...,2.0,NaN,4.0,NaN,2.0,NaN,NaN,794.8,795.5,4.0
3,31131.0,4.0,2.0,2.0,535.0,536.0,44.0,4.0,NaN,4.0,...,1.0,827.0,NaN,NaN,2.0,105.0,2.72,535.0,536.0,4.0
4,31132.0,4.0,2.0,1.0,842.0,843.0,70.0,3.0,NaN,5.0,...,1.0,730.0,NaN,NaN,2.0,147.0,3.80,842.0,843.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8081,41469.0,4.0,2.0,1.0,235.0,235.0,19.0,4.0,15.0,NaN,...,1.0,715.0,NaN,NaN,2.0,193.0,4.99,235.0,235.0,15.0
8082,41471.0,4.0,2.0,1.0,148.0,149.0,12.0,4.0,5.0,NaN,...,1.0,703.0,NaN,NaN,2.0,142.0,3.67,148.0,149.0,5.0
8083,41472.0,4.0,2.0,1.0,410.0,411.0,34.0,3.0,NaN,4.0,...,1.0,567.0,NaN,NaN,2.0,140.0,3.62,410.0,411.0,4.0
8084,41473.0,4.0,2.0,1.0,255.0,255.0,21.0,1.0,NaN,2.0,...,1.0,645.0,NaN,NaN,2.0,184.0,4.76,255.0,255.0,2.0
8085,41474.0,4.0,2.0,2.0,200.0,200.0,16.0,4.0,11.0,NaN,...,1.0,579.0,NaN,NaN,2.0,101.0,2.61,200.0,200.0,11.0

In [64]:
df["DMDEDUC2_3_combination"].unique()

array([4.00000000e+00, 1.00000000e+01, 5.00000000e+00, 9.00000000e+00,
       3.00000000e+00, 6.00000000e+00, 1.30000000e+01, 1.00000000e+00,
       1.50000000e+01, 5.39760535e-79, 2.00000000e+00, 1.10000000e+01,
       7.00000000e+00, 1.20000000e+01, 8.00000000e+00, 6.60000000e+01,
       1.40000000e+01, 0.00000000e+00, 9.90000000e+01])

In [66]:
df = df.merge(dem2, how="inner")
df.head()

,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEMN,RIDAGEEX,RIDAGEYR,RIDRETH1,DMDEDUC3,DMDEDUC2,...,PEASCTM1,PEASCCT1,BPXCHR,BPQ150A,LBXTC,LBDTCSI,AGE_AT_SCREENING,AGE_AT_EXAM,DMDEDUC2_3_combination,RETIRED
0,31128.0,4.0,2.0,2.0,132.0,132.0,11.0,4.0,4.0,NaN,...,401.0,NaN,NaN,2.0,129.0,3.34,132.0,132.0,4.0,0.0
1,31129.0,4.0,2.0,1.0,189.0,190.0,15.0,4.0,10.0,NaN,...,664.0,NaN,NaN,1.0,170.0,4.40,189.0,190.0,10.0,0.0
2,31130.0,4.0,2.0,2.0,NaN,NaN,85.0,3.0,NaN,4.0,...,NaN,4.0,NaN,2.0,NaN,NaN,794.8,795.5,4.0,1.0
3,31131.0,4.0,2.0,2.0,535.0,536.0,44.0,4.0,NaN,4.0,...,827.0,NaN,NaN,2.0,105.0,2.72,535.0,536.0,4.0,0.0
4,31132.0,4.0,2.0,1.0,842.0,843.0,70.0,3.0,NaN,5.0,...,730.0,NaN,NaN,2.0,147.0,3.80,842.0,843.0,5.0,1.0

In [67]:
from sklearn.impute import KNNImputer
imputer = KNNImputer(n_neighbors=10)
df_no_missing = imputer.fit_transform(df)
df_no_missing = pd.DataFrame(df_no_missing, columns=df.columns)
df_no_missing

df["Retired"] = df_no_missing["RETIRED"]
df

,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEMN,RIDAGEEX,RIDAGEYR,RIDRETH1,DMDEDUC3,DMDEDUC2,...,PEASCCT1,BPXCHR,BPQ150A,LBXTC,LBDTCSI,AGE_AT_SCREENING,AGE_AT_EXAM,DMDEDUC2_3_combination,RETIRED,Retired
0,31128.0,4.0,2.0,2.0,132.0,132.0,11.0,4.0,4.0,NaN,...,NaN,NaN,2.0,129.0,3.34,132.0,132.0,4.0,0.0,0.0
1,31129.0,4.0,2.0,1.0,189.0,190.0,15.0,4.0,10.0,NaN,...,NaN,NaN,1.0,170.0,4.40,189.0,190.0,10.0,0.0,0.0
2,31130.0,4.0,2.0,2.0,NaN,NaN,85.0,3.0,NaN,4.0,...,4.0,NaN,2.0,NaN,NaN,794.8,795.5,4.0,1.0,1.0
3,31131.0,4.0,2.0,2.0,535.0,536.0,44.0,4.0,NaN,4.0,...,NaN,NaN,2.0,105.0,2.72,535.0,536.0,4.0,0.0,0.0
4,31132.0,4.0,2.0,1.0,842.0,843.0,70.0,3.0,NaN,5.0,...,NaN,NaN,2.0,147.0,3.80,842.0,843.0,5.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8081,41469.0,4.0,2.0,1.0,235.0,235.0,19.0,4.0,15.0,NaN,...,NaN,NaN,2.0,193.0,4.99,235.0,235.0,15.0,0.0,0.0
8082,41471.0,4.0,2.0,1.0,148.0,149.0,12.0,4.0,5.0,NaN,...,NaN,NaN,2.0,142.0,3.67,148.0,149.0,5.0,0.0,0.0
8083,41472.0,4.0,2.0,1.0,410.0,411.0,34.0,3.0,NaN,4.0,...,NaN,NaN,2.0,140.0,3.62,410.0,411.0,4.0,0.0,0.0
8084,41473.0,4.0,2.0,1.0,255.0,255.0,21.0,1.0,NaN,2.0,...,NaN,NaN,2.0,184.0,4.76,255.0,255.0,2.0,0.0,0.0
8085,41474.0,4.0,2.0,2.0,200.0,200.0,16.0,4.0,11.0,NaN,...,NaN,NaN,2.0,101.0,2.61,200.0,200.0,11.0,0.0,0.0

In [68]:
def func(df):
    if df['DMDEDUC2_3_combination'] <= 12:
        return 'ELEMENTARY'
    elif 12 < df['DMDEDUC2_3_combination'] < 16:
        return 'HIGHSCHOOL' 
    elif df['DMDEDUC2_3_combination'] >= 16:
        return 'COLLEGE'

df['HIGHEST_EDUCATION'] = df.apply(func, axis=1)

In [69]:
df

,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEMN,RIDAGEEX,RIDAGEYR,RIDRETH1,DMDEDUC3,DMDEDUC2,...,BPXCHR,BPQ150A,LBXTC,LBDTCSI,AGE_AT_SCREENING,AGE_AT_EXAM,DMDEDUC2_3_combination,RETIRED,Retired,HIGHEST_EDUCATION
0,31128.0,4.0,2.0,2.0,132.0,132.0,11.0,4.0,4.0,NaN,...,NaN,2.0,129.0,3.34,132.0,132.0,4.0,0.0,0.0,ELEMENTARY
1,31129.0,4.0,2.0,1.0,189.0,190.0,15.0,4.0,10.0,NaN,...,NaN,1.0,170.0,4.40,189.0,190.0,10.0,0.0,0.0,ELEMENTARY
2,31130.0,4.0,2.0,2.0,NaN,NaN,85.0,3.0,NaN,4.0,...,NaN,2.0,NaN,NaN,794.8,795.5,4.0,1.0,1.0,ELEMENTARY
3,31131.0,4.0,2.0,2.0,535.0,536.0,44.0,4.0,NaN,4.0,...,NaN,2.0,105.0,2.72,535.0,536.0,4.0,0.0,0.0,ELEMENTARY
4,31132.0,4.0,2.0,1.0,842.0,843.0,70.0,3.0,NaN,5.0,...,NaN,2.0,147.0,3.80,842.0,843.0,5.0,1.0,1.0,ELEMENTARY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8081,41469.0,4.0,2.0,1.0,235.0,235.0,19.0,4.0,15.0,NaN,...,NaN,2.0,193.0,4.99,235.0,235.0,15.0,0.0,0.0,HIGHSCHOOL
8082,41471.0,4.0,2.0,1.0,148.0,149.0,12.0,4.0,5.0,NaN,...,NaN,2.0,142.0,3.67,148.0,149.0,5.0,0.0,0.0,ELEMENTARY
8083,41472.0,4.0,2.0,1.0,410.0,411.0,34.0,3.0,NaN,4.0,...,NaN,2.0,140.0,3.62,410.0,411.0,4.0,0.0,0.0,ELEMENTARY
8084,41473.0,4.0,2.0,1.0,255.0,255.0,21.0,1.0,NaN,2.0,...,NaN,2.0,184.0,4.76,255.0,255.0,2.0,0.0,0.0,ELEMENTARY
8085,41474.0,4.0,2.0,2.0,200.0,200.0,16.0,4.0,11.0,NaN,...,NaN,2.0,101.0,2.61,200.0,200.0,11.0,0.0,0.0,ELEMENTARY

# 2

In [72]:
df = pd.read_csv("claim_prediction.csv")
df.head()

,EADDC,EAFXA,FDDBC,AFDDA,AXCXA,EXCCE,FBXFC,DFFEC,CEXAE,BBADX,CLAIM
0,-0.193513,0.021062,-0.870351,4.314903,-4.260162,-1.259531,0.175603,-0.942903,2.333260,4.678712,0
1,2.667844,-3.195978,2.718651,-0.885312,2.964261,2.161336,2.008505,-0.296360,-0.610780,-2.545978,1
2,2.280602,0.048539,-2.179863,-0.380866,-1.212960,2.097278,5.131315,-1.250050,2.362880,2.207307,0
3,0.592376,-1.590548,2.329976,-1.416489,1.743390,3.040990,2.371740,-0.190549,0.890761,-2.671923,0
4,1.236896,-0.656180,-0.381064,-2.332379,0.660684,2.055621,0.478162,-0.269513,2.614886,-3.655301,0

In [78]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df.iloc[:, :-1], df.iloc[:, -1], random_state=0, shuffle=False, test_size=0.2)

In [79]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()
lr.fit(X_train, y_train)

LogisticRegression()

In [107]:
y_pred = lr.predict(X_test)

In [108]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import mean_absolute_error

accuracy_score(y_test, y_pred)

0.8175

In [109]:
mean_absolute_error(y_test, y_pred)

0.1825

In [110]:
y_pred = x.predict(X_train)
mean_absolute_error(y_train, y_pred)

0.0345

In [86]:
import xgboost as xgb

In [101]:
x = xgb.XGBClassifier()
x.fit(X_train, y_train)

C:\ProgramData\Anaconda3\lib\site-packages\xgboost\sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[20:45:55] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.0/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, enable_categorical=False,
              gamma=0, gpu_id=-1, importance_type=None,
              interaction_constraints='', learning_rate=0.300000012,
              max_delta_step=0, max_depth=6, min_child_weight=1, missing=nan,
              monotone_constraints='()', n_estimators=100, n_jobs=8,
              num_parallel_tree=1, predictor='auto', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [102]:
y_pred = x.predict(X_test)

In [103]:
accuracy_score(y_test, y_pred)

0.873

In [104]:
mean_absolute_error(y_test, y_pred)

0.127

In [ ]:
mean_absolute_error(y_test, y_pred)

In [105]:
y_pred = x.predict(X_train)
mean_absolute_error(y_train, y_pred)

0.0345

both models showed lower training error but higher testing error, so they will perform not so well on unseen data.

but the xgboost model is not too bad and if i adjust its hyperparams itll be good enough

# 3

1. by calculating silhouette score for each value of k or using the elbow method. quality is measured by the average silhouette score of all sampkle clusters

2. it's overfitting, so i'll apply regularisation like l1, l2 or elasticnet, and try to use more training data

3. i'll use model 4 because it has a low training and testing error

4. recall = 112/118

precision = 112/160

In [111]:
112/118

0.9491525423728814

In [112]:
112/160

0.7

In [113]:
f1 = 2*0.95*0.7 / (0.95+0.7)
f1

0.806060606060606

cancer patients usually take chemotherapy. if it's given to the wrong person it can be dangerous so precision is important.

but if a patient is predicted negative while they actually have cancer, tahts also dangerous. so recall is also important

for youtube videos we want to see, out of the videos that were recommended, how many were actually helpful. so error would be false positive rate. for metric precision will be used.

# 4